/* Register.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register-background {
  background-image: url("../images/Image10.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-navbar {
  width: 100%;
  background: black;
  padding: 10px 0;
  text-align: center;
  /* position: fixed; */
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.register-nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.register-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding-top: 80px; /* Ensures the container is spaced below the navbar */
}

.register-formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  margin-top: 100px; /* Adjust this value to move the formContainer down */
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Ensure input containers take full width */
  margin-bottom: 10px; /* Space between input fields */
}

label {
  margin-bottom: 5px; /* Space between label and input */
}

input {
  height: 48px;
  width: 350px; /* Increase width of input fields */
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.inputButtonContainer {
  display: flex;
  justify-content: center; /* Center the button container */
  width: 100%;
}

.inputButton {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.inputButton:hover {
  background-color: #6fa3ef;
}

p {
  margin-top: 20px;
}

p a {
  color: cornflowerblue;
  text-decoration: none;
}

.register-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  margin-top: auto;
}
